@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
}

.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 100vh;
}

.error img{
  width: 40%;
  object-fit: fill;
}

a{
  text-decoration: none;
  color: black;
}

body{
  background-color: #e3e6e6;
}

main{
  align-items: center;
}

.backgound img{
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  /* margin-bottom: -100px; */
  z-index: -1;
  overflow-y: hidden;
}

.products{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 15px;
  margin: -250px 0;
  position: absolute;
  column-gap: 1.3rem;
  row-gap: 1.3rem;
  align-items: center;
}

.products a{
 width: 259px;
}

.product{
  z-index: 1;
  width: 259px;
  height: 385px;
  background-color:#ffffff;
  text-decoration: none;
  padding:  20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.product span{
  font-size: .7rem;
}


.lists{
 display: grid;
 grid-template-columns: 1fr 1fr ;
 column-gap: 5px;
}

.lists-img-span{
  width: 129px;
  height: 151px;
}

.product img{
  width: 60%;
  object-fit:cover;
  margin-bottom: 2px;
  border: 0px;
  background: transparent;
  text-align: center;
}

.add_product{
  border: 1px transparent solid;
  background-color: hsl(50, 100%, 54%);
  border-radius: 6px;
  padding: 5px;
  cursor: pointer;
}

.add_product:hover{
  background-color: rgb(241, 205, 25);
  cursor: pointer;
}

.product .title{
  font-size: 20px;
  font-weight: 600;
}

.main-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 349px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-70%);
}

.form{
  width: 310px;
  padding: 20px 26px;
  display: flex;
  flex-direction: column;
  border: 0.9px#dddddd solid;
  border-radius: 8px;
}

.logo-form img{
  object-fit: contain;
  width: 165px;
  margin-bottom: -25px;
}

.form input, .form button{
  padding: 3.5px 5.5px;
  margin-bottom: 6.6px;
}

.form input:focus{
  outline-color: rgba(0, 170, 255, 0.3);
}

.form button{
  border: 1px transparent solid;
  background-color: hsl(50, 100%, 54%);
  border-radius: 6px;
  padding: 5px;
}

.form button:hover{
  background-color: rgb(241, 205, 25);
  cursor: pointer;
}

.form p{
  font-size: .7rem;
  margin: 10px 2px;
}

.form p span{
  color: rgb(0, 136, 255);
}

.form p span:hover{
  color: brown;
  text-decoration: underline;
  cursor: pointer;
}

.or{
  display: flex;
  font-size: .7rem;
  color: #8b8b8b;
  align-items: center;
  margin-bottom: 10px;
}

.line{
  background-color: #dddddd;
  width: 33%;
  height: 0.11px;
}

.form a, .form button{
  width: 100%;
}