.header{
  width: 100%;
  height: 5rem;
  background-color: #131921;
  padding: 0 2%;
  color: white;
}

.header nav{
  height: 100%;
}

.header ul{
   height: 100%;
   list-style: none;
   display: flex;
   align-items: center;
   /* justify-content: center; */
}

.header a {
  color: white;
  text-decoration: none;
}

.header li {
  margin:0 1rem;
  width: 5rem;
}

/* .header a:hover,
.header a:active,
.header a.active{
  color: #cd9042;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #cd9042;
} */

.logo{
  width: 100px;
  margin-right: 15px;
}

.logo-img{
  object-fit: cover;
  width: 150px;
  height: 50px;
  object-position: -21px -43px;
}

.nav-links{
  display: flex;
  align-items: end;
  padding:0 10px ;
  cursor: pointer;
}

.nav-links-text{
 padding: 0 10px;
 cursor: pointer;
}

.items-no{
  position: relative;
  left: 21px;
  bottom: 25px;
  color:  #cd9042;
}

.cart{
  font-size: 33px;
}

.search{
  width: 800px;
  display: flex;
  background-color: #cd9042;
  border-radius: 5px;
  align-items: center;
  margin: 0 7.5px;
}

.search input{
  width: 93%;
  padding: 10px 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-weight: 500;
  padding-left: 10px;
  font-size: 0.85rem;
}

.search input:focus{
 outline: none;
}

.search i{
  font-size: 30px;
  position: relative;
  left: 30%;
  top: -50%;
  transform: translate(0, 10%);
  color: #131921;
}